.hide{
    display: none;
}

/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f4f4f9;
    color: #333;
}

header {
    background: #007bff;
    color: white;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

main {
    margin-top: 20px;
}

#challenge .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

#challenge .card:hover {
    transform: scale(1.02);
}

/* Feedback Styles */
#feedback {
    margin-top: 20px;
}

#feedback-text {
    font-size: 1.2rem;
}

/* Footer Styles */
footer {
    margin-top: 20px;
    background: #333;
    color: white;
    font-size: 0.9rem;
}

.sender{
    color:seagreen;
}

.link{
    color: #007bff;
}

#emailViewer {
    position: relative; /* This allows absolute positioning of elements inside it */
}

#emailViewer .btn-info {
    position: absolute; /* Position relative to the emailViewer */
    top: 1.5rem; /* Align it vertically with the "Back to Inbox" button */
    left: 580px; /* Adjust this value to space it correctly next to the "Back to Inbox" button */
}